@font-face
{
	font-family: "Akkurat Pro Bold";
	src: url(../fonts/AkkBd_Pro.ttf);
}

@font-face
{
	font-family: "Akkurat Light Pro";
	src: url(../fonts/AkkLg_Pro.ttf);
}

body {
	background: url('../img/splash-bigbg.jpg');
	font-family: "Akkurat Pro Bold";
}

#splash {
	width: 1024px;
	height: 768px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 24px;
}

#splashLeft {
	background-size: auto 1000px;
	background-position: -296px;
	width: 656px;
	height: 100%;
	float: left;
}

#splashLeft p {
	margin-top: 2em;
	font-size: 1.5em;
	font-family: "Akkurat Light Pro";
}

#splashRight {
	background-color: #544e4e;
	border: 10px solid black;
	width: 368px;
	height: 768px;
	float: left;
}

#phone {
	width: 368px;
	height: 768px;
}

#phone-greeting {
	background-color: #b8cf5f;
	width: 348px;
	height: 83px;
}

#activity {
	width: 348px;
	height: 31px;
	background-color: #b8cf5f;
	margin-top: 2px;
}

#activity p {
	color: white;
}

#toolbar {
	width: 348px;
	height: 45px;
	background-color: black;
	margin-top: 570px;
}



#splashMap {
	height: 768px;
	width: 656px;
}

#splashConfig {
	border: 10px solid #b8cf5f;
	width: 305px;
	height: 392px;
	margin: 24px 0 0 24px;
	background-color: #fff;
	position: relative;
}


#cont {
	width: 1024px;
}

h1 {
	color: #fff;
	font-family: "Akkurat Pro Bold";
}


